<p id="notice"><%= notice %></p>

<p>
  <strong>Town:</strong>
  <%= @listing.town %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Style:</strong>
  <%= @listing.style %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @listing.rooms %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @listing.bedrooms %>
</p>

<p>
  <strong>Fullbaths:</strong>
  <%= @listing.fullbaths %>
</p>

<p>
  <strong>Halfbaths:</strong>
  <%= @listing.halfbaths %>
</p>

<p>
  <strong>Basement:</strong>
  <%= @listing.basement %>
</p>

<p>
  <strong>Garage:</strong>
  <%= @listing.garage %>
</p>

<p>
  <strong>Listdate:</strong>
  <%= @listing.listdate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Taxes:</strong>
  <%= @listing.taxes %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @listing.remarks %>
</p>

<p>
  <strong>Exterior:</strong>
  <%= @listing.exterior %>
</p>

<p>
  <strong>Hvac:</strong>
  <%= @listing.hvac %>
</p>

<p>
  <strong>Fireplace:</strong>
  <%= @listing.fireplace %>
</p>

<p>
  <strong>Lotdescription:</strong>
  <%= @listing.lotdescription %>
</p>

<p>
  <strong>Addons:</strong>
  <%= @listing.addons %>
</p>

<p>
  <strong>Yearbuilt:</strong>
  <%= @listing.yearbuilt %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
